@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (User.Identity.GetUserName() != null)
                {
                    var nome_usuario = User.Identity.GetUserName();

                    nome_usuario = nome_usuario.Remove(nome_usuario.IndexOf('@'));

                    //Lógico que isso não é o verdadeiro nome de usuário do primeiro login, só uma brincadeira.

                    @Html.ActionLink("Olá " + nome_usuario + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                }


            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">

        <!--Só mudei o Register para criar uma conta-->


        <li>@Html.ActionLink("Criar uma Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
