@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!--Primeiro Paragrafo-->

<p>
    Uma locadora de médio porte, a Vídeo Locadora Burkina Faso, deseja um sistema de informação para melhorar o atendimento aos clientes.
    A locadora possui diversos títulos, sendo que, para cada título, há um DVD.
    Os títulos são agrupados por categoria, tais como drama, comédia, documentário, policial, erótico, terror etc.
    Além disso, a locadora faz um controle dos títulos em função de sua ClasseTitulo. Tipicamente são cinco as ClasseTitulo  da Vídeo Locadora  Burkina Faso:
    super-lançamento, lançamento, ouro, prata e bronze. Ao longo do tempo, um filme pode ser classificado de diferentes maneiras, geralmente começando pela ClasseTitulo super-lançamento,
    passando pela ClasseTitulo  lançamento, ouro e prata, até chegar à ClasseTitulo bronze.
</p>

<!--Segundo Paragrafo-->

<p>
    O valor de uma locação e o número de dias de prazo para devolução são dados pela ClasseTitulo  na qual o filme está classificado na data da locação. Os valores correntes para as locações de filmes nas classes super-lançamento, lançamento, ouro, prata e bronze
    são, respectivamente, R$ 7,00, R$ 5,00, R$4,00, R$ 3,00 e R$ 2,00. Os prazos para essas mesmas ClassesTitulo  são, respectivamente, 1, 2, 3, 5 e 7 dias.
</p>

<!--Terceiro Paragrafo-->

<p>Sobre um cliente, deseja-se saber nome, endereço, telefone, sexo, CPF e data de nascimento.</p>

<!--Quarto Paragrafo-->

<p>Clientes podem locar títulos. É importante registrar a data e a hora em que a locação foi feita e se o cliente deseja um DVD.</p>

<!--Quinto Paragrafo-->

<p>
    Visando atender uma solicitação constante dos diversos clientes da locadora, o gerente quer que o sistema disponibilize
    um terminal para consultas a títulos, a serem feitas pelos próprios clientes.<br /> Assim, um cliente poderia consultar um título para saber quais são os
    atores e diretores que atuam no filme, o ano, título original, nacionalidade e sinopse. Além disso, devem ser aceitas consultas por categoria, ator, diretor, título original ou nacionalidade.
</p>
