@{
    ViewBag.Title = "Esqueceu a senha - Reconfigurando";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique o seu e-mail para reconfigurar sua senha.
    </p>
</div>

